{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron text-center">
<h1>Liste des évènements</h1>

</div>

<div class="container">

    <div class="row flex">
        {% for evenement in evenements %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="{{ path('show', {id: evenement.id, slug: evenement.slug}) }}">{{ evenement.TitreEvnmt }}</a>
                        </h5>
                        <p class="card-text">{{ evenement.TxtEvnmt }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}