{% extends 'base.html.twig' %}

{% block title 'Tous nos évènements' %}

{% block body %}

    <div class="container mt-4">
      
        <h1>Liste des évènements</h1>

            <div class="row">
                {% for evenement in evenements %}

                    <div class="col-md-3">
                        {% include 'evenement/_evenement.html.twig' %}
                    </div>

                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(evenements) }}
            </div>
    </div>

{% endblock %}