{% extends 'base.html.twig' %}

{% block title evenement.TitreEvnmt %}

{% block body %}
<div class="container mt-4">
    <h1>{{ evenement.TitreEvnmt }}</h1>

    <p>{{ evenement.TxtEvnmt }}</p>
</div>
{% endblock %}