<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('show', {slug: evenement.slug, id: evenement.id}) }}">
                {{ evenement.TitreEvnmt }}
            </a>
        </h5>
        <p class="card-text">{{ evenement.TxtEvnmt }}</p>
    </div>
</div>