{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">

<h1>Création d'un nouvel évènement</h1>
{{ include('evenement/_form.html.twig', {button: 'Créer'}) }} {# On inclue un template pour utiliser plusieurs fois le même bout de code #}
</div>

{% endblock %}     